.header {
    background-color: var(--white);
    min-height: var(--header-height);
    max-height: var(--header-height);
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-m);
    box-shadow: var(--page-block-shadow);
}

.header__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: var(--layout-width);
    width: var(--layout-width);
}

.header__avatarImg {
    max-width: var(--icon-size-m);
    min-height: var(--icon-size-m);
    border-radius: 50%;
}

.header__profileName {
    margin-left: var(--spacing-s);
}