.navbar {
    padding: var(--spacing-xs) 0;
}

.navbar__listItem {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    height: var(--left-menu-row-hight);
    color: var(--text-primary);
    text-decoration: none;
}

.navbar__listItem:hover {
    background-color: var(--background-hover);
}

.navbar__listItemIcon {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 var(--spacing-s) 0;
    background-color: cadetblue;
}