.app-layout__lower-wrapper {
    margin: 0px auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: var(--spacing-m);
    max-width: var(--layout-width);
    width: var(--layout-width);
}